.all_tabs{
	background: #fff;
    margin: 10px 0px;
}
.all_tabs ul{
	float: left;
    width: 220px;
    margin: 0px;
}
.all_tabs ul li{ margin-bottom: 0px; }
.all_tabs ul li a{
	text-decoration: none;
    font-size: 18px;
    width: 200px;
    display: inline-block;
    padding: 10px;
    color: #26388b;
    transition: background color 0.2s;
    -webkit-transition: background color 0.2s;
    -moz-transition: background color 0.2s;
}
.all_tabs ul li a.active, .all_tabs ul li a:hover{
	background: #26388b;
	color: #fff;
}
.all_tabs .tabs{ 
	margin-left: 220px;
    padding: 0px 15px;
    border-left: 10px solid #f1f1f1;
}
.all_tabs .tabs .tab{ display: none; }
.all_tabs .tabs .tab.active{ display: inline-block; }
.all_tabs .tabs .tab h2{}
